/*
    Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

@charset 'UTF-8';


/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

        .lift-light {
           font-family: RennieMackintoshITCLight;
               font-size: 110%;
        }

    .lift-bold {
           font-family: RennieMackintoshITCBold;
           font-weight: 500;
           color: #777;
    }
        
    body
    {
        margin: 0;
        padding: 0;
        background: /*#161616;*/#FFFFFF;
    }

    body,input,textarea,select
    {
        font-family: 'Roboto', sans-serif;
        font-size: 11pt;
        font-weight: 300;
        line-height: 1.75em;
        color: #777;
    }
    
    p {
        font-size: 13pt;
        text-indent: 2em;
    }

    h1,h2,h3,h4,h5,h6
    {
        font-weight: 300;
        color: #777;
    }
    
        h2
        {
            letter-spacing: -0.025em;
        }
    
        h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
        {
            color: inherit;
            text-decoration: none;
        }
        
    strong, b
    {
        font-weight: 500;
        color: #000000;
    }
    
    em, i
    {
        font-style: italic;
    }

    a
    {
        text-decoration: none;
        color: #808EBA;
    }
    
    a:hover
    {
        text-decoration: underline;
        color: #70AA7E;
    }

    sub
    {
        position: relative;
        top: 0.5em;
        font-size: 0.8em;
    }
    
    sup
    {
        position: relative;
        top: -0.5em;
        font-size: 0.8em;
    }
    
    hr
    {
        border: 0;
        border-top: solid 1px #ddd;
        margin: 6em 0 0 0;
        padding: 6em 0 0 0;
    }
    
    blockquote
    {
        border-left: solid 0.5em #ddd;
        padding: 1em 0 1em 2em;
        font-style: italic;
    }

    p, ul, ol, dl, table
    {
        margin-bottom: 0;
    }
    
    .homepage p, ul, ol, dl, table
    {
        margin-bottom: 1em;
    }

    header
    {
        margin-bottom: 1.6em;
    }
    
        header h2
        {
                font-family: RennieMackintoshITCLight;
        }

        header .byline
        {
            display: block;
            margin: 0;
            padding: 0;
        }
        
    footer
    {
        margin-top: 1em;
    }

    br.clear
    {
        clear: both;
    }

    .pennant
    {
        color: #bbb;
    }

    /* Sections/Articles */
    
        section,
        article
        {
            margin-bottom: 2em;
        }
        
        section > :last-child,
        article > :last-child
        {
            margin-bottom: 0;
        }

        section:last-child,
        article:last-child
        {
            margin-bottom: 0;
        }

        .row > section,
        .row > article
        {
            margin-bottom: 0;
        }

        .row {
            margin-bottom: 85px;
        }
        
        .row:last-child {
            margin-bottom: 25px;
        }
        section header h2
        {
            font-size: 2.4em;
        }

    /* Images */

        .image
        {
            display: inline-block;
        }
        
            .image img
            {
                display: block;
                width: 100%;
            }

            .image.research
            {
                display: block;
                width: 100%;
                margin: 0 0 2em 0;
            }

            .image.full
            {
                display: block;
                width: 100%;
                margin-bottom: 2em;
            }
            
            .profile .image
            {
                margin-bottom: 0.7em;
            }
            
            .image.left
            {
                float: left;
                margin: 0 2em 2em 0;
            }
            
            .image.centered
            {
                display: block;
                margin: 0 0 2em 0;
            }

                .image.centered img
                {
                    margin: 0 auto;
                    width: auto;
                }

    /* Lists */

        ul {
            list-style-type: circle;
            text-align: left;
        }
                
        ul.default
        {
            margin: 0;
            padding: 0em 0em 1.5em 0em;
            list-style: none;
        }
        
            ul.default li
            {
                padding: 0.60em 0em;
                font-size: 0.95em;
                border-top: 1px solid;
                border-color: rgba(0,0,0,.1);
                
            }		
        
            ul.default li:first-child
            {
                padding-top: 0;
                border-top: none;
            }
    
            ul.default {			   
            }
        
        ul.style li {
            margin: 0;
            padding: 0em;
        }
        
        ul.style li:first-child
        {
            padding-top: 0;
            border-top: none;
        }
        
        ul.style img {
            float: left;
            margin-right: 20px;
        }
        
        ul.style a {
            color: #434343;
        }		
        
        ul.style .posted
        {
            padding: 0em;
            margin: 0em;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            font-size: 8pt;
            color: #A2A2A2;
            line-height: 1.4em;
        }
        
        ul.style .first {
            padding-top: 0px;
            border-top: none;
        }
        
        li > p {
            text-indent: 0;
        }
                            

    /* Buttons */
        
    .button
    {
        position: relative;
        display: inline-block;
        background: #808EBA;
        padding: 0.8em 2em;
        text-decoration: none !important;
        font-size: 1.2em;
        font-weight: 300;
        color: #FFF !important;
        -moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
        -webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
        -o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
        -ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
        transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
        text-align: center;
        border-radius: 0.25em;
    }

    .button:hover
    {
        background: #70AA7E;
        color: #FFF !important;
    }
    
/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

    ul.contact
    {
        padding: 1.5em 0 0 0;
        list-style: none;
        cursor: default;
    }
    
    ul.contact li
    {
        display: inline-block;
        margin: 0 1em;
    }
    
    ul.contact li span
    {
        display: none;
        margin: 0;
        padding: 0;
    }
    
    ul.contact li a
    {
        color: inherit;
        font-size: 1.75em;
        display: inline-block;
        -moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
        -webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
        -o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
        -ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
        transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    }
    
    ul.contact li a:hover
    {
        color: #fff;
    }

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

    #header, .dropdown-blur
    {
        position: relative;
        /*https://commons.wikimedia.org/wiki/File:Sky_August_2010-1a.jpg*/
        background: url(../images/Sky_August_2010-1a.jpg) no-repeat bottom center;
        background-attachment: fixed;
        background-size: cover;
        text-align: center;
    }
    
        #header:before
        {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(64,64,64,0.125);
        }



/*********************************************************************************/
/* Job title                                                                          */
/*********************************************************************************/

#jobtitle
{
	color: #FFF;
}

	#jobtitle h1
	{
		font-weight: 300;
      line-height: 1em;
      font-size: 2em;
      color: #FFF;
      letter-spacing: -0.05em;
      margin: 0 0 0.125em 0;
	}



/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

    #logo
    {
        position: relative;
        z-index: 1;
    }
    
        #logo h1
        {
            color: #FFF;
        }
        

    
        #logo a
        {
            display: block;
            text-decoration: none;
            font-weight: 300;
            line-height: 1em;
            font-size: 7em;
            color: #FFF;
            letter-spacing: -0.05em;
            margin: 0 0 0.125em 0;
        }
        
        #logo span
        {
            font-size: 1.4em;
            color: #FFF;
        }

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

    #nav
    {
    }

        #nav-wrapper
        {
            background: rgba(0,0,0,.1); 
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
        
        #nav > ul
        {
            margin: 0;
            padding: 0;
            text-align: center;
        }

        #nav > ul > li
        {
           /* font-family: ITCRennieMackintoshW01-Lt; */
            display: inline-block;
            padding-left: 0;
            border-right: 1px solid;
            border-color: rgba(255,255,255,.1);
            font-size: 11pt;
        }
            .nav .open > a,
            .nav > li > a:hover,
            .nav > li > a:focus,
            .nav .open > a:hover
            {
                background: rgba(0,0,0,.1) !important;
            }
        
            #nav > ul > li:last-child
            {
                padding-right: 0;
                border-right: none;
            }

            #nav > ul > li > a,
            #nav > ul > li > span
            {
                display: inline-block;
                padding: 1.5em 1.5em;
                letter-spacing: 0.06em;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.1em;
                outline: 0;
                color: #FFF;
            }

            #nav li.active a
            {
                color: #FFF;
            }

            /*#nav > ul > li > ul
            {
                display: none;
            }*/
    .dropdown-blur, .dropdown-bg {
        display: block;
        position: absolute;
        content: ' ';
        width: 100%;
        height: 100%;    
    }
    .dropdown-blur {
        z-index: -2;
        top: -10px;
        left: -10px;
        margin: 10px 0 0 10px;
        -webkit-filter: url('#blur');
        filter: url('#blur');
        -webkit-filter: blur(5px);
        filter: blur(5px);
        opacity: 0.9;    
    }
    .dropdown-bg {
        z-index: -1;
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0, .2) !important;
    }
    .dropdown-menu {
        background: transparent !important;
        position: relative;
        border-radius: 0 !important;
        border: 0 !important;
        width: auto;
        padding: 0 !important;
    }
    .dropdown-menu > li {
        padding-left: 0 !important;
    }
    .dropdown-menu > li > a {
        letter-spacing: 0.06em !important;
        font-size: 1em !important;
        font-weight: 300 !important;
        color: #fff !important;
        padding: 1.1em 1.1em !important;
        text-align: center !important;
        text-transform: uppercase !important;
    }
    .dropdown-menu> li > a:focus, .dropdown-menu>li>a:hover {
        background: rgba(0,0,0,.05) !important;
    }
    
/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

    #main
    {
        position: relative;
        background: #fff;
    }
    
    .homepage #content
    {
        text-align: center;
    }
    
    #support {
        padding-bottom: 2em;
    }
    
    
    .homepage #content header h2
    {
    }

    #sidebar h2
    {
        display: block;        
    }
    #sidebar > .profile {
        text-align: center;
    }
    #sidebar > .profile > header {
        text-align: left;
    }
    #sidebar > .profile > div {
        margin: auto;
    }

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
    
    #footer
    {
        position: relative;
        text-align: center;
        background: #161616;
    }
    
    #footer header h2
    {
        color: #FFF !important;
    }
    
    #footer header .byline
    {
        color: rgba(255,255,255,.2);
    }

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
    
    #copyright
    {
        position: relative;
        text-align: center;
        color: #774535;
    }
    
    #copyright .container
    {
        padding: 3em 0em;
        border-top: 1px solid;
        border-color: rgba(255,255,255,.05);
        color:  rgba(255,255,255,.1);
    }
    
    #copyright a
    {
        text-decoration: none;
        color:  rgba(255,255,255,.2);
    }
    
/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/
    
    #featured
    {
        position: relative;
        text-align: center;
        background: #f2f2f2;
    }
    
/*********************************************************************************/
/* Open Positions                                                                */
/*********************************************************************************/

    #positions
    {
        padding-bottom: 2em;		
    }
    
    #positions h2
    {
        color:  #ff0000;
    }    

/*********************************************************************************/
/* Source Code                                                                   */
/*********************************************************************************/

    #code
    {
        padding-bottom: 2em;
        background: #f2f2f2;
    }

/*********************************************************************************/
/* Publications                                                                  */
/*********************************************************************************/
    
    #pubs
    {
        padding-bottom: 0.50em;
    }

        #pubs ul
        {
            list-style-type: none;
        }

        #pubs ul li
        {
            padding-bottom: 1em;
        }

/*********************************************************************************/
/* Research directions
/*********************************************************************************/
/*
    #research
    {
        padding-bottom: 2em;
        background: #f2f2f2;
        position: relative;
        text-align: center;
    }

    #research h3
    {
        display: block;
        font-weight: 300;
    }

    #research .pennant
    {
        font-size: 4em;
    }

    #research .button
    {
        margin-top: 1.5em;
    }*/

/*********************************************************************************/
/* Research directions
/*********************************************************************************/

    #research
    {
        padding-bottom: 2em;
        background: #f2f2f2;
        position: relative;
    }

    #research h3
    {
        display: block;
        font-weight: 300;
    }

    #research .pennant
    {
        font-size: 4em;
    }

    /*#research .button
    {
        margin-top: 1.5em;
    }*/

/*********************************************************************************/
/* Team                                                                          */
/*********************************************************************************/

    #team
    {
        padding-bottom: 2em;
    }

/*********************************************************************************/
/* Support                                                                       */
/*********************************************************************************/

    #support
    {
        background: #f2f2f2;
    }


/*********************************************************************************/
/* Tweet                                                                         */
/*********************************************************************************/
    
    #tweet
    {
        position: relative;
        text-align: center;
        background: url(../images/header.jpg) no-repeat center center;
        background-attachment: fixed;
        background-size: cover;
    }

        #tweet:before
        {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(64,64,64,0.5);
        }
    
        #tweet section
        {
            border-top: 1px solid;
            border-bottom: 1px solid;
            border-color: rgba(255,255,255,.1);
        }

        #tweet blockquote
        {
            position: relative;
            border: none;
            margin: 0;
            font-weight: 300;
            color: rgba(255,255,255,.6);
        }	

        div .row+.row>* {
            padding-top: 10px;
        }

/*********************************************************************************/
/* Research directions                                                           */
/*********************************************************************************/
#content > .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
#content > .row > .\34u {
    position: relative;
    padding-bottom: 55px !important;
}
#content > .row > .\34u > .button_wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-right: 50px;
}

.thumb_frame {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    display: inline-block;
}
.thumb_container {
    position: relative;
}
.thumb_image {
    display: block;
    position: relative;
}
.thumb_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
}
.thumb_container:hover .thumb_overlay {
    opacity: 0.9;
}
.thumb_text {
    padding: 15px;
}
.thumb_text > p {
    text-indent: 0;
    color: #000;
    font-weight: 500;
    text-align: left;
}

.thumb_text > .posted {
    padding: 0em;
    margin: 0em;
    letter-spacing: 0.5px;
    font-size: 11pt;
    line-height: 1.4em;
    color: #777;
    font-weight: 400;
}