---
title: Home
---
<!DOCTYPE HTML>
<!-- GH
    Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
    <title>{{ site.title }}: {{ page.title }}</title>
        {% include header.html %}
    </head>
    <body class="homepage">

    <!-- Header -->
        <div id="header">
            {% include menu.html %}
            <div class="container"> 
                
                <!-- Logo -->
                <div id="logo">
                    <h1><a href="#"><span class="lift-light">Lift</span></a></h1>
                    <span class="tag">Where High-Level Programming Meets Performance Portability</span>
                </div>
            </div>
        </div>

    <!-- Featured -->
        <div id="featured">
            <div class="container">
                <header>
                    <h2>Welcome to Lift</h2>
                </header>
                <p><span class="lift-bold">Lift</span> is a novel approach to achieving performance portability on parallel accelerators.               
                    <span class="lift-bold">Lift</span> combines a high-level functional data parallel language with a system of rewrite rules which encode algorithmic and hardware-specific optimisation choices.
                    Applications written in <span class="lift-bold">Lift</span> are able to take advantage of GPUs (and in the future other accelerators), transparently from the user.</p>                                
                </p>
            </div>
        </div>

        <!-- Main -->
<!--
    <div id="example">
      <div id="content" class="container">
        <header>
          <h2>Example</h2>
        </header>
        <p>
          Matrix multiplication high-level code example
          Plots of results on different machines
        </p>
      </div>
    </div>	
-->	

    <!-- Positions -->
    <div id="positions">
      <div id="content" class="container">
        <header>
          <h2>Open Positions and Collaborations</h2>
        </header>
        <p> We are always looking for bright and enthusiastic researchers to join our team.
        We have funding opportunities for PhD studies and visits/internships both at Edinburgh University (<a href="mailto:christophe.dubach@ed.ac.uk">Christophe.Dubach@ed.ac.uk</a>) and Glasgow University (<a href="mailto:michel.steuwer@glasgow.ac.uk">Michel.Steuwer@glasgow.ac.uk</a>).
        Please feel free to contact us if you are interested.        
        You can also find below some specific positions currently available:  
        </p>
        <ul>
			<li><b>Postdoc</b> position at Edinburgh University: <a href="jobHuawei.html">Efficient Neural Network Code Generation on Mobile GPUs</a></li>
        </ul>
      </div>
    </div>	

    <!-- Source Code -->
    <div id="code">
      <div id="content" class="container">
        <header>
          <h2>Source Code</h2>
        </header>
        <p>
        The <span class="lift-bold">Lift</span> source code is available at <a href="https://github.com/lift-project/lift"><i class="fa fa-github fa-2x" aria-hidden="true"></i> https://github.com/lift-project/lift</a>.<br>
        Lift is open source software released under the permissive MIT license.
        </p>
      </div>
    </div>	

    <!-- Main -->
    <div id="pubs">
      <div id="content" class="container">
        <header>
          <h2>Publications</h2>
        </header>
        <ul class="10u -1u">

          <li>
        <a href="http://www.lift-project.org/publications/2017/steuwer17LiftIR.pdf">
Lift: A Functional Data-Parallel IR for High-Performance GPU Code Generation
        </a><br>
        Michel Steuwer, Toomas Remmelg, and Christophe Dubach<br>
        <a href="http://cgo.org/cgo2017/">
International Symposium on Code Generationand Optimization (CGO) 2017
        </a><br>		
        <a href="http://www.lift-project.org/publications/2017/steuwer17LiftIR.pdf" style="margin-right:1em">
          <span class="fa-stack fa-1x">
            <i class="fa fa-file fa-stack-2x fa-flip-horizontal"></i>
            <span class="fa fa-stack-1x" style="color:white;">
              <span style="font-size:12px; margin-top:5px; display:block;">
            PDF
              </span>
            </span>
          </span>
      Paper</a>
        <a href="http://www.lift-project.org/presentations/2017/CGO-2017.pdf" style="margin-right: 1em;">
          <span class="fa-stack fa-1x">
            <i class="fa fa-file fa-stack-2x fa-flip-horizontal"></i>
            <i style="margin-top:5px"
               class="fa fa-picture-o fa-stack-1x fa-inverse"></i>
          </span>
          Slides of the talk</a>
        <a href="https://gitlab.com/michel-steuwer/cgo_2017_artifact" style="margin-right:1em">
          <span class="fa-stack fa-1x">
            <i class="fa fa-bar-chart fa-stack-1x fa-flip-horizontal" style="left:-.1em;top:-.1em"></i>
            <span class="fa fa-stack-2x">
            <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </span>
          Software Artifact for independent evaluation of the performance results</a>
          </li>	      
          
          <li>
        <a href="http://www.lift-project.org/publications/2016/steuwer16beyondAutoTuning.pdf">
Matrix Multiplication Beyond Auto-Tuning: Rewrite-based GPU Code Generation
        </a><br>
        Michel Steuwer, Toomas Remmelg, and Christophe Dubach<br>
        <a href="http://www.esweek.org/cases">
International Conference on Compilers, Architecture and Synthesis for Embedded Systems (CASES) 2016
        </a><br>		
        <a href="http://www.lift-project.org/publications/2016/steuwer16beyondAutoTuning.pdf" style="margin-right:1em">
          <span class="fa-stack fa-1x">
            <i class="fa fa-file fa-stack-2x fa-flip-horizontal"></i>
            <span class="fa fa-stack-1x" style="color:white;">
              <span style="font-size:12px; margin-top:5px; display:block;">
            PDF
              </span>
            </span>
          </span>
      Paper</a>
        <a href="http://www.lift-project.org/presentations/2016/CASES-2016.pdf" style="margin-right: 1em;">
          <span class="fa-stack fa-1x">
            <i class="fa fa-file fa-stack-2x fa-flip-horizontal"></i>
            <i style="margin-top:5px"
               class="fa fa-picture-o fa-stack-1x fa-inverse"></i>
          </span>
          Slides of the talk</a>
          </li>

          <li>
        <a href="http://www.lift-project.org/publications/2016/remmelg16perfport.pdf">
          Performance Portable GPU Code Generation for Matrix Multiplication
        </a><br>
        Toomas Remmelg, Thibaut Lutz, Michel Steuwer, and Christophe Dubach<br>
        <a href="http://conf.researchr.org/track/PPoPP-2016/GPGPU-2016-papers">
          Workshop on General Purpose Processing using GPUs (GPGPU) 2016 @ PPoPP
        </a><br>		
        <a href="http://www.lift-project.org/publications/2016/remmelg16perfport.pdf" style="margin-right:1em">
          <span class="fa-stack fa-1x">
            <i class="fa fa-file fa-stack-2x fa-flip-horizontal"></i>
            <span class="fa fa-stack-1x" style="color:white;">
              <span style="font-size:12px; margin-top:5px; display:block;">
            PDF
              </span>
            </span>
          </span>
      Paper</a>
        <a href="http://www.lift-project.org/presentations/2016/GPGPU-2016.pdf" style="margin-right: 1em;">
          <span class="fa-stack fa-1x">
            <i class="fa fa-file fa-stack-2x fa-flip-horizontal"></i>
            <i style="margin-top:5px"
               class="fa fa-picture-o fa-stack-1x fa-inverse"></i>
          </span>
          Slides of the talk</a>
          </li>

          <li>
        <a href="http://www.lift-project.org/publications/2016/harries16sparse.pdf">
          Compositional Compilation for Sparse, Irregular Data Parallelism
        </a><br>
        Adam Harries, Michel Steuwer, Murray Cole, Alan Gray, and Christophe Dubach<br>
        <a href="https://sites.google.com/site/hlpgpu2016/">
          Workshop on High-Level Programming for Heterogeneous and Hierarchical Parallel Systems (HLPGPU) 2016 @ HiPEAC
        </a><br>		
        <a href="http://www.lift-project.org/publications/2016/harries16sparse.pdf" style="margin-right:1em">
          <span class="fa-stack fa-1x">
            <i class="fa fa-file fa-stack-2x fa-flip-horizontal"></i>
            <span class="fa fa-stack-1x" style="color:white;">
              <span style="font-size:12px; margin-top:5px; display:block;">
            PDF
              </span>
            </span>
          </span>
          Paper</a>
          </li>

          
          <li>
        <a href="http://www.lift-project.org/publications/2015/steuwer15generating.pdf">
          Generating Performance Portable Code using Rewrite Rules: From High-Level Functional Expressions to High-Performance OpenCL Code
        </a><br>	
        Michel Steuwer, Christian Fensch, Sam Lindley, and Christophe Dubach<br>		
        <a href="http://www.icfpconference.org/icfp2015/index.html">
          International Conference on Functional Programming (ICFP) 2015
        </a><br>
        <a href="http://www.lift-project.org/publications/2015/steuwer15generating.pdf" style="margin-right:1em">
          <span class="fa-stack fa-1x">
            <i class="fa fa-file fa-stack-2x fa-flip-horizontal"></i>
            <span class="fa fa-stack-1x" style="color:white;">
              <span style="font-size:12px;  margin-top:5px; display:block;">
            PDF
              </span>
            </span>
          </span>
          Paper</a>		
        <a href="http://www.lift-project.org/presentations/2015/ICFP-2015.pdf" style="margin-right: 1em;">
          <span class="fa-stack fa-1x">
            <i class="fa fa-file fa-stack-2x fa-flip-horizontal"></i>
            <i style="margin-top:5px"
               class="fa fa-picture-o fa-stack-1x fa-inverse"></i>
          </span>
          Slides of the talk</a>
        <a href="https://www.youtube.com/watch?v=xNYMIsGTXC4" style="margin-right:1em">
          <i style="vertical-align: middle;" class="fa fa-youtube-play fa-2x"></i> 
          Video of the talk</a>
              </li>
   
              <li>
        <a href="http://www.lift-project.org/publications/2015/steuwer15arxiv.pdf">
          Patterns and Rewrite Rules for Systematic Code Generation (From High-Level Functional Patterns to High-Performance Opencl Code)
        </a><br>		
        Michel Steuwer, Christian Fensch, and Christophe Dubach<br>		
        Technical Report <a href="http://arxiv.org/abs/1502.02389">arXiv:1502.02389</a><br>		
        <a href="http://www.lift-project.org/publications/2015/steuwer15arxiv.pdf" style="margin-right:1em">
          <span class="fa-stack fa-1x">
            <i class="fa fa-file fa-stack-2x fa-flip-horizontal"></i>
            <span class="fa fa-stack-1x" style="color:white;">
              <span style="font-size:12px;  margin-top:5px; display:block;">
            PDF
              </span>
            </span>
          </span>
          Technical Report</a>		
              </li>


          <li>
        <a href="http://www.lift-project.org/publications/2015/steuwer15phdthesis.pdf">
Improving Programmability and Performance Portability 		
        </a><br>
        Michel Steuwer<br>
                PhD Thesis, University of M&uuml;nster<br>
        <a href="http://www.lift-project.org/publications/2015/steuwer15phdthesis.pdf" style="margin-right:1em">
          <span class="fa-stack fa-1x">
            <i class="fa fa-file fa-stack-2x fa-flip-horizontal"></i>
            <span class="fa fa-stack-1x" style="color:white;">
              <span style="font-size:12px; margin-top:5px; display:block;">
            PDF
              </span>
            </span>
          </span>
          PhD Thesis</a>
          </li>
          
        </ul>
      </div>
    </div>

    <div id="research">
      <div id="content" class="container">
        <header>
          <h2>Research directions</h2>
        </header>
          <div class="row">
              <section class="4u">
                  <span class="pennant"><a href="YOUR_PROJECT_PAGE.html"><span class="fa fa-clone"></span></a></span>
                  <h3>Matrix Multiplication</h3>
                  <p>Starting from a single high-level program, our compiler automatically generates highly optimized 
                      and specialized matrix multiplication implementations. 
                      We group simple rewrite rules into more complex macro-rules, each describing a well-known optimization
                      like tiling and register blocking in a composable way. Using
                      an exploration strategy our compiler automatically generates
                      50,000 OpenCL kernels, each providing a differently
                      optimized — but provably correct — implementation of matrix
                      multiplication.</p>
                  <!--<a href="YOUR_PROJECT_PAGE.html" class="button button-style1">Read More</a>-->
              </section>
              <section class="4u">
                  <span class="pennant"><a href="ml.html"><span class="fa fa-connectdevelop"></span></a></span>
                  <h3>Machine Learning</h3>
                  <p>Making neural networks (NNs) performance-portable using <span class="lift-bold">Lift</span>: 
                      implementing generic and NN-specific optimizations as rewrite rules for efficient hardware utilization;
                      introducing traditional NN building blocks such as <i>conv</i>, <i>norm</i> and <i>fully_connected</i> 
                      for seamless integration of <span class="lift-bold">Lift</span> with popular machine learning libraries.</p>
                  <a href="ml.html" class="button button-style1">Read More</a>
              </section>
              <section class="4u">
                  <span class="pennant"><a href="#"><span class="fa fa-cubes"></span></a></span>
                  <h3>Heterogeneous Programming</h3>
                  <p>Using <span class="lift-bold">Lift</span> to create a high-level programming environment for 
                      Heterogeneous Computation, freeing the programmer from the burden of having to write complex 
                      device-specific code. This makes it possible to automatically identify parallelism in 
                      non-associative reductions, hence enabling generation of efficient parallel implementations for GPUs.
                      <!--<a href="YOUR_PROJECT_PAGE.html" class="button button-style1">Read More</a> -->
              </section>
          </div>
          
          <div class="row">
              <section class="4u">
                  <span class="pennant"><a href="YOUR_PROJECT_PAGE.html"><span class="fa fa-barcode"></span></a></span>
                  <h3>Sparse Data Parallelism</h3>
                  <p>We demonstrate that
                      high level programming and high performance GPU execution for
                      sparse, irregular problems are not mutually exclusive. Our insight
                      is that this can be achieved by capturing sparsity and irregularity
                      friendly implementations within the target space of a pattern-oriented,
                      high-level compilation and transformation system. By
                      working in a language rather than a library, we benefit from the
                      ability to generate implementations by program-specific composition
                      of building blocks which capture detailed, low-level implementation
                      choices.</p>
                  <!--<a href="YOUR_PROJECT_PAGE.html" class="button button-style1">Read More</a>-->
              </section>
              <section class="4u">
                  <span class="pennant"><a href="YOUR_PROJECT_PAGE.html"><span class="fa fa-rss"></span></a></span>
                  <h3>3D Wave Modelling</h3>
                  <p>Simplified room acoustics simulations have been thoroughly investigated in
                      <span class="lift-bold">Lift</span> and a number of other 2D and 3D benchmarks have also been implemented. 
                      Current work also involves developing and formalising stencil optimisations for 3D codes, 
                      in particular 2.5D tiling, as well as ground penetrating radar algorithms.
                      How to best abstract 
                      out absorbing boundary conditions needs to be investigated in more detail and primitives to 
                      accommodate these conditions need to be designed and added. Finally, a stencil-based DSL needs to 
                      be extended to compile into the <span class="lift-bold">Lift</span> language.</p>
                  <!--<a href="YOUR_PROJECT_PAGE.html" class="button button-style1">Read More</a>-->
              </section>
              <section class="4u">
                  <span class="pennant"><a href="YOUR_PROJECT_PAGE.html"><span class="fa fa-random"></span></a></span>
                  <h3>Stencil Computations</h3>
                  <p>Stencil computations are used in a wide range of
                      applications from physical simulations to machine learning.
                      Optimizing and tuning them for parallel
                      hardware remains challenging.
                      <span class="lift-bold">Lift</span> is a new approach to achieving performance
                      portability based on a small set of reusable
                      parallel primitives. Its key novelty is encoding of
                      optimization as a system of rewrite rules which are
                      used to explore the optimization space.
                      We extend <span class="lift-bold">Lift</span> with support for stencil computations
                      by adding a small number of primitives together
                      with a few rewrite rules to achieve performance
                      portability for stencil computations.</p>
                  <!--<a href="YOUR_PROJECT_PAGE.html" class="button button-style1">Read More</a>-->
              </section>
          </div>
          <!--
          <div class="row">
              <section class="4u">
                  NOTE: find your icon here: http://fontawesome.io/icons/
                  <span class="pennant"><a href="YOUR_PROJECT_PAGE.html"><span class="fa YOUR_ICON_CODE"></span></a></span>
                  <h3>YOUR_PROJECT_TITLE_SHORT</h3>
                  <p>YOUR_PROJECT_DESCRIPTION</p>
                  <a href="YOUR_PROJECT_PAGE.html" class="button button-style1">Read More</a>
              </section>
              <section class="4u">
                  NOTE: find your icon here: http://fontawesome.io/icons/
                  <span class="pennant"><a href="YOUR_PROJECT_PAGE.html"><span class="fa YOUR_ICON_CODE"></span></a></span>
                  <h3>YOUR_PROJECT_TITLE_SHORT</h3>
                  <p>YOUR_PROJECT_DESCRIPTION</p>
                  <a href="YOUR_PROJECT_PAGE.html" class="button button-style1">Read More</a>
              </section>
              <section class="4u">
                  NOTE: find your icon here: http://fontawesome.io/icons/
                  <span class="pennant"><a href="YOUR_PROJECT_PAGE.html"><span class="fa YOUR_ICON_CODE"></span></a></span>
                  <h3>YOUR_PROJECT_TITLE_SHORT</h3>
                  <p>YOUR_PROJECT_DESCRIPTION</p>
                  <a href="YOUR_PROJECT_PAGE.html" class="button button-style1">Read More</a>
              </section>
          </div>
        -->
      </div>
    </div>

    <div id="team">
      <div id="content" class="container">
        <header>
          <h2>Meet the Lifters</h2>
        </header>
            <div class="row">
                    <section class="2u -2u">
                      <a href="http://homepages.inf.ed.ac.uk/cdubach/" class="image full"><img src="images/cdubach.png" alt=""></a>
                      <a href="http://homepages.inf.ed.ac.uk/cdubach/">Christophe Dubach</a>
                      <br>Reader<br><a href="http://www.ed.ac.uk/informatics/">University of Edinburgh</a>
                    </section>				
                    <section class="2u">
                      <a href="http://homepages.inf.ed.ac.uk/msteuwer/" class="image full"><img src="images/msteuwer.jpg" alt=""></a>
                      <a href="http://homepages.inf.ed.ac.uk/msteuwer/">Michel Steuwer</a>
                      <br>Lecturer<br><a href="http://www.gla.ac.uk/schools/computing/">University of Glasgow</a>
                    </section>
                    <section class="2u">
                      <a href="https://www.inf.ed.ac.uk/people/students/Toomas_Remmelg.html" class="image full"><img src="images/toomas.jpg" alt=""></a>
                      <a href="https://www.inf.ed.ac.uk/people/students/Toomas_Remmelg.html">Toomas Remmelg</a>
                      <br>PhD Student<br><a href="http://www.ed.ac.uk/informatics/">University of Edinburgh</a>
                    </section>
                    <section class="2u">
                      <a href="http://homepages.inf.ed.ac.uk/s1467120/" class="image full"><img src="images/adam.jpg" alt=""></a>
                      <a href="http://homepages.inf.ed.ac.uk/s1467120/">Adam Harries</a>
                      <br>PhD Student<br><a href="http://www.ed.ac.uk/informatics/">University of Edinburgh</a>
                    </section>
                </div>
        <div class="row" style="margin-top:2em;">
                    <section class="2u -2u">
                      <a href="https://www.wwu.de/PVS/en/mitarbeiter/hagedorn.html" class="image full"><img src="images/bastian.jpg" alt=""></a>
                      <a href="https://www.wwu.de/PVS/en/mitarbeiter/hagedorn.html">Bastian Hagedorn</a>
                      <br>PhD Student<br><a href="https://www.uni-muenster.de/Informatik/en/index.shtml">University of M&uuml;nster</a>
                    </section>						
                    <section class="2u">
                     <a href="http://homepages.inf.ed.ac.uk/s1147290/index.html" class="image full"><img src="images/larisa.jpg" alt=""></a>
                     <a href="http://homepages.inf.ed.ac.uk/s1147290/index.html">Larisa Stoltzfus</a>
                     <br>PhD Student<br><a href="http://www.ed.ac.uk/informatics/">University of Edinburgh</a>
                    </section>						
                    <section class="2u">
                     <a href="http://www.inf.ed.ac.uk/people/students/Federico_Pizzuti.html" class="image full"><img src="images/federico.jpg" alt=""></a>
                     <a href="http://www.inf.ed.ac.uk/people/students/Federico_Pizzuti.html">Federico Pizzuti</a>
                     <br>PhD Student<br><a href="http://www.ed.ac.uk/informatics/">University of Edinburgh</a>
                    </section>
                    <section class="2u">
                     <a href="https://naumsmogers.me/" class="image full"><img src="images/naums.jpg" alt=""></a>
                     <a href="https://naumsmogers.me/">Naums Mogers</a>
                     <br>PhD Student<br><a href="http://www.ed.ac.uk/informatics/">University of Edinburgh</a>
                    </section>
        </div>

      </div>	  
    </div>

        <div id="support">
          <div id="content" class="container">
            <header> <h2>Support</h2> <header>
            <div id="content" class="container">
              This project is partially supported by:<br/>
              <ul>
					<li><a href="http://research.google.com/research-outreach.html#/research-outreach/faculty-engagement/faculty-research-award-recipients"><b>Google</b> Faculty Research Award</a></li>
					<li><a href="http://www.huawei.com/en/hirp"><b>Huawei</b> Innovation Research Program FLAGSHIP (HIRP FLAGSHIP)</a></li>              
              </ul>
                                        
              
            </div>
          </div>
        </div>

    <!-- 
        <div id="tweet">
            <div class="container">
                <section>
                    <blockquote>&ldquo;In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat.&rdquo;</blockquote>
                </section>
            </div>
        </div>-->

    <!-- Footer -->
    <!--
        <div id="footer">
            <div class="container">
                <section>
                    <header>
                        <h2>Get in touch</h2>
                        <span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
                    </header>
                    <ul class="contact">
                      <li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
                      <li><a href="" class="fa fa-at"><span>Email</span></a></li>
                    </ul>
                </section>
            </div>
        </div>
-->
        {% include footer.html %}
    </body>
</html>
