<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
<!--<link href="http://db.onlinewebfonts.com/c/4a331e9e6bc3a09ee52b55b78f97c9d6?family=ITCRennieMackintoshW01-Lt" rel="stylesheet" type="text/css"/>
    <link href="http://db.onlinewebfonts.com/c/d0c5c83757a198e6b739f296cf349e0b?family=ITCRennieMackintoshW01-Bd" rel="stylesheet" type="text/css"/>-->
<link href='RennieMackintosh-font/stylesheet.css' rel='stylesheet'>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-panels.min.js"></script>
<script src="js/init.js"></script>
<noscript>
    <link rel="stylesheet" href="css/skel-noscript.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style-desktop.css" />
</noscript>
<link rel="stylesheet" href="font-awesome/font-awesome-4.5.0/css/font-awesome.min.css">

<!-- Bootstrap (CDN) -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.css">

<!-- Latest compiled and minified JavaScript -->
<script src="js/bootstrap.min.js"></script>    
</script>