<!--
<div id="nav-wrapper">
    <nav id="nav">
        <ul>
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="#code">Source Code</a></li>
            <li><a href="#pubs">Publications</a></li>
            <li><a href="#research">Research directions</a></li>
            <li><a href="#team">Team</a></li>
        </ul>
    </nav>
</div>
-->
<script language="JavaScript">
    $('.nav .dropdown').hover(function() {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function() {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
</script>
<div id="nav-wrapper">
    <nav id="nav">
        <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav">
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="#code">Source Code</a></li>
                <li><a href="#pub">Publications</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
                       aria-expanded="false">Reseach directions <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="ml.html">Machine Learning</a></li>
                        <!--<li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>-->
                    </ul>
                </li>
                <li><a href="#team">Team</a></li>
            </ul>
    </nav>
</div>